body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

nav {
  background: #111;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

header {
  background: #1f7a3f;
  color: white;
  padding: 30px;
  text-align: center;
}

.banner {
  background: #ffe600;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.produto {
  background: white;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

button {
  background: #1f7a3f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

input, select {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
}